@model IEnumerable<Assignment6.Models.Registration>
@{
    ViewBag.Title = "Users Registrations";
}
<h2>@ViewBag.Status Users Registrations</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        @if (ViewBag.Pending)
        {
            <th>
                Action
            </th>
        }
        else
        {
            <th>
                @Html.DisplayNameFor(model => model.RegisteredByUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        }
    </tr>
    @foreach (var item in Model)
    {
        string rowColor=string.Empty;
        if (!ViewBag.Pending)
        {
           rowColor = item.Status == "Approved" ? "table-success" : "table-danger";
        }
        <tr class="@rowColor">
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            @if (ViewBag.Pending)
            {
                <td>
                    @Html.ActionLink("Approve", "Approve", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-success" })
                    @Html.ActionLink("Decline", "Decline", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.RegisteredByUsername)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Status)
                </th>
            }
        </tr>
    }
</table>
