@model Assignment6.ViewModels.UserTaskView

@{
                /**/

                ViewBag.Title = ViewBag.Status + " Tasks";
}

<h2>@ViewBag.Status @ViewBag.Role Tasks</h2>
<hr />
@if (ViewBag.Pending)
{
    <!-- Button trigger modal -->
    <button id="modal-show-add" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalAdd">
        Add Document
    </button>
    <hr />
}
@Html.Partial("~/Views/Partials/_PartialDocAdd.cshtml")
@Html.Partial("~/Views/Partials/_PartialDocEdit.cshtml")

<div id="tasks-list">
    @foreach (var item in Model.Documents)
    {
        <div class="row">
            <div class="row col-12 my-3 p-3 bg-white rounded shadow-sm">
                <div class="col-9">
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                    @*@if (!ViewBag.Pending)
                        {
                            <small class="text-muted">Completed by @Html.DisplayFor(modelItem => item.PurchasedByUser.Username)</small>
                        }*@

                </div>
                @if (ViewBag.Pending)
                {
                    <div class="col-1">
                        @Html.ActionLink("Complete", "Complete", new { Id = item.Id, documentAssignId = item.AssignedDocuments.FirstOrDefault()?.Id, roleId = Model.RoleId, userId = Model.UserId }, htmlAttributes: new { @class = "btn btn-success" })
                    </div>
                }
                <div class="col-1 " id="@item.Id" UserId="@Model.UserId" body="@item.Body" title="@item.Title">
                    <button class="btn btn-info edit-doc ml-2">View</button>
                </div>
            </div>
        </div>
    }

</div>

@section scripts{
    <script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            var editor1 = CKEDITOR.replace('editor1');
            var editor2 = CKEDITOR.replace('editor2');
            var newTitle = $('#form-submit-add input[name="Title"]');
            var newBody = $('#form-submit-add input[name="Body"]');
            var editTitle = $('#exampleModalEdit input[name="Title"]');
            var editModal = $('#exampleModalEdit');
            var addModal = $('#exampleModalAdd');

            $('#modal-show-add').on('click', function () {
                newTitle.val("");
                editor1.setData("");
            })

            $('#form-submit-add').submit(function (event) {
                event.preventDefault();
                if (this.checkValidity() === true) {

                    newBody.val(editor1.getData());

                    $.post($(this).attr('action'), $(this).serialize(), function (data) {
                        $('#tasks-list').prepend(data);
                        addModal.modal('hide');
                    });
                }
            });

            $('div').on('click', '.edit-doc', function () {

                var tableRow = $(this).closest('div');
                editor2.setData(tableRow.attr('body'));
                editTitle.val(tableRow.attr('title'));
                editModal.modal('show');
            });

        });
    </script>
}

