@model IEnumerable<Assignment6.Models.Registration>

@{
    ViewBag.Title = "Users Registrations";
}

<h2>@ViewBag.Status Users Registrations</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisteredAt)
        </th>

        @if (!ViewBag.Pending)

        {
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredAt)
            </td>
            @if (!ViewBag.Pending)
            {
                <th>
                    @Html.DisplayFor(modelItem => item.Status)
                </th>
            }
            @if (ViewBag.Pending)
            {
                <td>
                    @Html.ActionLink("Approve", "Approve", new { id = item.Id }) |
                    @Html.ActionLink("Decline", "Decline", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>
